name: Node CI - Main Build

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - name: Install dependencies
      run: npm ci
    - name: Run unit tests
      run: npm test
      env:
        NODE_ENV: test
    - name: Get build version
      id: get-build-version
      run: echo "::set-output name=build-version::$(node -p \"require('./package.json').version\")"
      shell: bash
    - name: Tag repo
      uses: ./
      with:
        gh-token: ${{ secrets.GITHUB_TOKEN }}
        build-version: outputs.build-version
        build-message: New release
    - name: Finish
      run: echo 'Finished'
